
*body{
    padding: 0;
    margin: 0;
}
.notification {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #4CAF50; /* Success green color */
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

/* Show notification */
.notification.show {
    visibility: visible;
    animation: fadeInOut 3s ease-in-out;
}

/* Animation */
@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    10%, 90% {opacity:1;}
}
    

